/* sidebar */

NemoWindow .sidebar .view {
	background-color: #3F3F3F;
	color: #EEEEEE;
	text-shadow: 1px 1px alpha (#000000, 0.8);
}


/* inactive pane */

.nemo-inactive-pane .view {
    background-color: shade(@theme_base_color, 0.9);
}

/* nemo-cell-renderer-disk in places sidebar */

.nemo-disk-renderer {
	border-radius: 4px;
	background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_selected_bg_color, 1.15)),
                                     to (shade(@theme_selected_bg_color, 0.95)));

	border-style: solid;
	border-width: 1px;
	border-color: shade(@theme_selected_bg_color, 0.7);
}

.nemo-disk-renderer row:selected {
	border-radius: 4px;
	background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(#3F3F3F, 1.0)),
                                     to (shade(#3F3F3F, 1.0)));
	border-style: solid;
	border-width: 1px;
	border-color: shade(#3F3F3F, .7);
}
