/* sidebar */
NemoWindow .sidebar,
NemoWindow .sidebar .view {
	background-color: #3F3F3F;
	color: #EEEEEE;
	text-shadow: 1px 1px alpha (#000000, 0.8);
}

NemoWindow .sidebar row:selected {
	color: @selected_fg_color;
	text-shadow: 0 -1px shade (@selected_bg_color, 0.8); 
}

