/* dark colourmap */
@define-color theme_bg_color #3c3c3c;
@define-color theme_fg_color #f0f0f0;
@define-color theme_base_color #404040;
@define-color theme_text_color #e6e6e6;
@define-color theme_selected_bg_color #accd8a;
@define-color theme_selected_fg_color #FFF;
@define-color theme_tooltip_bg_color #F5F5B5;
@define-color theme_tooltip_fg_color #000;

/* misc colors used by gtk+ */
@define-color info_fg_color rgb (181, 171, 156);
@define-color info_bg_color rgb (252, 252, 189);
@define-color warning_fg_color rgb (173, 120, 41);
@define-color warning_bg_color rgb (250, 173, 61);
@define-color question_fg_color rgb (97, 122, 214);
@define-color question_bg_color rgb (138, 173, 212);
@define-color error_fg_color rgb (166, 38, 38);
@define-color error_bg_color rgb (237, 54, 54);
@define-color link_color #08c;
@define-color error_color #cc0000;

/* theme common colors */
@define-color button_bg_color shade (@theme_bg_color, 1.06);
@define-color button_insensitive_bg_color shade (@theme_bg_color, 0.95);
@define-color dark_bg_color #212121;
@define-color dark_fg_color #E6E6E6;
@define-color transparent rgba (0, 0, 0, 0);

/* Zukitwo colors */
@define-color toolbar_gradient_base #3c3c3c;
@define-color toolbar_gradient_final #313131;
@define-color toolbar_border #2c2c2c;

/* Window Manager colors */
@define-color wm_highlight shade (@theme_bg_color, 1.4);
@define-color wm_title_highlight #111111;

@define-color wm_bg_a shade (@theme_bg_color, 1.3);
@define-color wm_bg_b @theme_bg_color;

@import url("gtk-widgets.css");
@import url("apps/gnome-panel.css");
@import url("apps/gnome-applications.css");
@import url("apps/nautilus.css");
@import url("apps/unity.css");
