style "button" 						= "wider"
{
	bg[NORMAL]      				= shade (1.02, @bg_color)
	bg[PRELIGHT]    				= shade (1.10, @bg_color)
	bg[ACTIVE]      				= shade (0.85, @bg_color)
	bg[INSENSITIVE] 				= shade (0.95, @bg_color)
	bg[SELECTED]    				= @focus_color
	
	engine "murrine" 
	{
		highlight_shade	    			= 1.02
		gradient_shades     			= {1.05,1.05,0.97,0.97} 
		border_shades 	    			= {0.92,0.92}
		reliefstyle 	    			= 0
	}
}

style "check" 
{
	GtkCheckButton::indicator-size       	  	= 16

	text[ACTIVE] 					= @fg_color
	text[SELECTED] 					= @fg_color
	text[NORMAL] 					= @fg_color
	
	bg[PRELIGHT] 					= @bg_color

	engine "pixmap" 
	{
		image
		{
			function			= CHECK
			state				= NORMAL
			shadow				= OUT
			overlay_file			= "Radiocheck/check-shadow-out.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= CHECK
			state				= PRELIGHT
			shadow				= OUT
			overlay_file			= "Radiocheck/check-p-shadow-out.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= CHECK
			state				= ACTIVE
			shadow				= OUT
			overlay_file			= "Radiocheck/check-shadow-out.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= CHECK
			state				= SELECTED
			shadow				= OUT
			overlay_file			= "Radiocheck/check-s-shadow-out.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= CHECK
			state				= INSENSITIVE
			shadow				= OUT
			overlay_file			= "Radiocheck/check-i-shadow-out.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= CHECK
			recolorable			= TRUE
			state				= NORMAL
			shadow				= IN
			overlay_file			= "Radiocheck/check-shadow-in.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= CHECK
			recolorable			= TRUE
			state				= PRELIGHT
			shadow				= IN
			overlay_file			= "Radiocheck/check-p-shadow-in.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= CHECK
			recolorable			= TRUE
			state				= ACTIVE
			shadow				= IN
			overlay_file			= "Radiocheck/check-shadow-in.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= CHECK
			recolorable			= TRUE
			state				= SELECTED
			shadow				= IN
			overlay_file			= "Radiocheck/check-s-shadow-in.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= CHECK
			recolorable			= TRUE
			state				= INSENSITIVE
			shadow				= IN
			overlay_file			= "Radiocheck/check-i-shadow-in.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= FLAT_BOX
			recolorable			= TRUE
			file				= "Radiocheck/checkbg.png"
			border				= { 5, 5, 5, 5}
			stretch				= TRUE
		}
		image
		{
			function			= FOCUS
			file				= "Null/null.png"
		}
	}
}

style "radio" 
{
	GtkCheckButton::indicator-size       	  	= 16

	text[ACTIVE] 					= @fg_color
	text[SELECTED] 					= @fg_color
	text[NORMAL] 					= @fg_color

	engine "pixmap" 
	{
		image
		{
			function			= OPTION
			state				= NORMAL
			shadow				= OUT
			overlay_file			= "Radiocheck/radio-shadow-out.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= OPTION
			state				= PRELIGHT
			shadow				= OUT
			overlay_file			= "Radiocheck/radio-p-shadow-out.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= OPTION
			state				= ACTIVE
			shadow				= OUT
			overlay_file			= "Radiocheck/radio-shadow-out.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= OPTION
			state				= SELECTED
			shadow				= OUT
			overlay_file			= "Radiocheck/radio-s-shadow-out.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= OPTION
			state				= INSENSITIVE
			shadow				= OUT
			overlay_file			= "Radiocheck/radio-i-shadow-out.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= OPTION
			recolorable			= TRUE
			state				= NORMAL
			shadow				= IN
			overlay_file			= "Radiocheck/radio-shadow-in.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= OPTION
			recolorable			= TRUE
			state				= PRELIGHT
			shadow				= IN
			overlay_file			= "Radiocheck/radio-p-shadow-in.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= OPTION
			recolorable			= TRUE
			state				= ACTIVE
			shadow				= IN
			overlay_file			= "Radiocheck/radio-shadow-in.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= OPTION
			recolorable			= TRUE
			state				= SELECTED
			shadow				= IN
			overlay_file			= "Radiocheck/radio-s-shadow-in.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= OPTION
			recolorable			= TRUE
			state				= INSENSITIVE
			shadow				= IN
			overlay_file			= "Radiocheck/radio-i-shadow-in.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= FLAT_BOX
			recolorable			= TRUE
			file				= "Radiocheck/checkbg.png"
			border				= { 5 ,5 , 5 ,5}
			stretch				= TRUE
		}
		image
		{
			function			= FOCUS
			file				= "Null/null.png"
		}
	}
}
