style "entry" = "wider"
{
	#GtkEntry::invisible_char = 0x2665

	base[NORMAL] 					= @base_color
	bg[INSENSITIVE] 				= mix (0.6, @base_color, @bg_color)

	engine "murrine" 
	{
	    roundness                   = 2
		border_shades 				= {0.94, 0.94}
	}
}

style "comboboxentry"
{

	engine "murrine" 
	{
		contrast            			= 0.73
		reliefstyle	    			= 4
	}
}

style "spinbutton"
{

	engine "murrine" 
	{
		reliefstyle 				= 3
		border_shades 				= {1.0, 1.0}
	}
}
