style "entry" = "wider"
{
	#GtkEntry::invisible_char = 0x2665

	base[NORMAL] 					= @base_color
	bg[INSENSITIVE] 				= @bg_color

	engine "murrine" 
	{
		border_shades 				= {1.35, 0.98}
	}
}

style "comboboxentry"
{

	engine "murrine" 
	{
		contrast            			= 0.73
		reliefstyle	    			= 4
	}
}

style "spinbutton"
{

	engine "murrine" 
	{
		reliefstyle 				= 3
		border_shades 				= {1.0, 1.0}
	}
}
