style "treeview" = "default"
{
	base[SELECTED]					= shade (0.8, @selected_bg_color)
	base[ACTIVE]					= shade (0.8, @selected_bg_color)

	xthickness					= 1
	ythickness					= 1

}

style "treeview-header" 				= "button"
{
	xthickness					= 2
	ythickness					= 1				

	bg[NORMAL]      				= shade (1.04, @bg_color)
	#bg[PRELIGHT]    				= shade (1.11, @bg_color)
	bg[ACTIVE]      				= shade (0.92, @bg_color)
	bg[INSENSITIVE] 				= shade (1.04, @bg_color)

	engine "murrine"
	{
		reliefstyle	 			= 4
		lightborderstyle 			= 1
	}
}

style "pixmap-treeview" 
{
	GtkTreeView::row-ending-details 		= 1
	GtkTreeView::horizontal-separator 		= 2
	GtkTreeView::vertical-separator 		= 2
	GtkTreeView::allow-rules 			= 0
	GtkTreeView::rules-hint  			= 0
	GtkTreeView::expander-size 			= 14

	engine "pixmap"									
	{
	#ROWS	
		image
		{
			function			= FLAT_BOX
			recolorable			= TRUE
			state				= NORMAL
			file				= "Null/null.png"
			stretch				= TRUE
		}
		image
		{
			function			= FLAT_BOX
			recolorable			= TRUE
			state				= SELECTED
			file				= "Treeview/row-selected.png"
			border				= { 0, 2, 2, 2}
			stretch				= TRUE
		}
		image
		{
			function			= FOCUS
			file				= "Null/null.png"
		}
		#EXPANDERS
		image
 		{
			function			= EXPANDER
			state				= NORMAL
			expander_style			= COLLAPSED
			file				= "Treeview/expander-collapsed.png"
		}
		image
 		{
			function			= EXPANDER
			state				= PRELIGHT
			expander_style			= COLLAPSED
			file				= "Treeview/expander-collapsed-prelight.png"
		}
		image
 		{
			function			= EXPANDER
			state				= ACTIVE
			expander_style			= COLLAPSED
			file				= "Treeview/expander-collapsed.png"
		}
		#semi collapsed
      		image
 		{
			function			= EXPANDER
			state				= NORMAL
			expander_style			= SEMI_COLLAPSED
			file				= "Treeview/expander-semi-collapsed.png"
		}
		image
 		{
			function			= EXPANDER
			state				= PRELIGHT
			expander_style			= SEMI_COLLAPSED
			file				= "Treeview/expander-semi-collapsed-prelight.png"
		}
		image
 		{
			function			= EXPANDER
			state				= ACTIVE
			expander_style			= SEMI_COLLAPSED
			file				= "Treeview/expander-semi-collapsed.png"
		}
		#semi expanded
	      	image
 		{
			function			= EXPANDER
			state				= NORMAL
			expander_style			= SEMI_EXPANDED
			file				= "Treeview/expander-semi-expanded.png"
		}
		image
 		{
			function			= EXPANDER
			state				= PRELIGHT
			expander_style			= SEMI_EXPANDED
			file				= "Treeview/expander-semi-expanded-prelight.png"
		}
		image
 		{
			function			= EXPANDER
			state				= ACTIVE
			expander_style			= SEMI_EXPANDED
			file				= "Treeview/expander-semi-expanded.png"
		}
		#expanded
      		image
 		{
			function			= EXPANDER
			state				= NORMAL
			expander_style			= EXPANDED
			file				= "Treeview/expander-expanded.png"
			detail				= "treeview"
		}
		image
 		{
			function			= EXPANDER
			state				= PRELIGHT
			expander_style			= EXPANDED
			file				= "Treeview/expander-expanded-prelight.png"
			detail				= "treeview"
		}
		image
 		{
			function			= EXPANDER
			state				= ACTIVE
			expander_style			= EXPANDED
			file				= "Treeview/expander-expanded.png"
			detail				= "treeview"
		}
		image
 		{
			function			= HLINE
			state				= NORMAL
			file				= "Treeview/hline.png"
			border				= { 0, 0, 0, 0}
		}
		image
 		{
			function			= HLINE
			state				= PRELIGHT
			file				= "Treeview/hline.png"
			border				= { 0, 0, 0, 0}
		}
		image
 		{
			function			= HLINE
			state				= ACTIVE
			file				= "Treeview/hline.png"
			border				= { 0, 0, 0, 0}
		}
		image
	 	{
			function			= HLINE
			state				= SELECTED
			file				= "Treeview/hline.png"
			border				= { 0, 0, 0, 0}
		}
		image
 		{
			function			= HLINE
			state				= INSENSITIVE
			file				= "Treeview/hline.png"
			border				= { 0, 0, 0, 0}
		}
		#PROGRESSBAR INSIDE THE TREEVIEW
		image
 		{
			function			= BOX
			state				= NORMAL
			file				= "Treeview/Progressbar/trough.png"
			border				= { 2, 2, 2, 2}
			shadow				= IN
			#detail				= "trough"
		}
		image
 		{
			function			= BOX
			state				= SELECTED
			file				= "Treeview/Progressbar/bar.png"
			stretch				= TRUE
			border				= { 2, 2, 2, 2}
			orientation			= HORIZONTAL
			shadow				= OUT
			detail				= "bar"
		}
		#RADIO/CHECK IN TREEVIEW
		#checkbuttons
		image
		{
			function			= CHECK
			state				= NORMAL
			shadow				= OUT
			overlay_file			= "Radiocheck/check-shadow-out.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= CHECK
			state				= PRELIGHT
			shadow				= OUT
			overlay_file			= "Radiocheck/check-p-shadow-out.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= CHECK
			state				= ACTIVE
			shadow				= OUT
			overlay_file			= "Radiocheck/check-shadow-out.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= CHECK
			state				= SELECTED
			shadow				= OUT
			overlay_file			= "Radiocheck/check-s-shadow-out.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= CHECK
			state				= INSENSITIVE
			shadow				= OUT
			overlay_file			= "Radiocheck/check-i-shadow-out.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= CHECK
			recolorable			= TRUE
			state				= NORMAL
			shadow				= IN
			overlay_file			= "Radiocheck/check-shadow-in.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= CHECK
			recolorable			= TRUE
			state				= PRELIGHT
			shadow				= IN
			overlay_file			= "Radiocheck/check-p-shadow-in.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= CHECK
			recolorable			= TRUE
			state				= ACTIVE
			shadow				= IN
			overlay_file			= "Radiocheck/check-shadow-in.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= CHECK
			recolorable			= TRUE
			state				= SELECTED
			shadow				= IN
			overlay_file			= "Radiocheck/check-s-shadow-in.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= CHECK
			recolorable			= TRUE
			state				= INSENSITIVE
			shadow				= IN
			overlay_file			= "Radiocheck/check-i-shadow-in.png"
			overlay_stretch			= FALSE
		}
		#radiobuttons
		image
		{
			function			= OPTION
			state				= NORMAL
			shadow				= OUT
			overlay_file			= "Radiocheck/radio-shadow-out.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= OPTION
			state				= PRELIGHT
			shadow				= OUT
			overlay_file			= "Radiocheck/radio-p-shadow-out.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= OPTION
			state				= ACTIVE
			shadow				= OUT
			overlay_file			= "Radiocheck/radio-shadow-out.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= OPTION
			state				= SELECTED
			shadow				= OUT
			overlay_file			= "Radiocheck/radio-s-shadow-out.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= OPTION
			state				= INSENSITIVE
			shadow				= OUT
			overlay_file			= "Radiocheck/radio-i-shadow-out.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= OPTION
			recolorable			= TRUE
			state				= NORMAL
			shadow				= IN
			overlay_file			= "Radiocheck/radio-shadow-in.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= OPTION
			recolorable			= TRUE
			state				= PRELIGHT
			shadow				= IN
			overlay_file			= "Radiocheck/radio-p-shadow-in.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= OPTION
			recolorable			= TRUE
			state				= ACTIVE
			shadow				= IN
			overlay_file			= "Radiocheck/radio-shadow-in.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= OPTION
			recolorable			= TRUE
			state				= SELECTED
			shadow				= IN
			overlay_file			= "Radiocheck/radio-s-shadow-in.png"
			overlay_stretch			= FALSE
		}
		image
		{
			function			= OPTION
			recolorable			= TRUE
			state				= INSENSITIVE
			shadow				= IN
			overlay_file			= "Radiocheck/radio-i-shadow-in.png"
			overlay_stretch			= FALSE
		}
	}
}

style "expander"
{
	engine "pixmap"
	{
		image
 		{
			function			= EXPANDER
			state				= NORMAL
			expander_style			= COLLAPSED
			file				= "Treeview/expander-collapsed.png"
		}
		image
 		{
			function			= EXPANDER
			state				= PRELIGHT
			expander_style			= COLLAPSED
			file				= "Treeview/expander-collapsed-prelight.png"
		}
		image
 		{
			function			= EXPANDER
			state				= ACTIVE
			expander_style			= COLLAPSED
			file				= "Treeview/expander-collapsed.png"
		}
		image
 		{
			function			= EXPANDER
			state				= INSENSITIVE
			expander_style			= COLLAPSED
			file				= "Treeview/expander-insensitive.png"
		}
		#semi collapsed
      		image
 		{
			function			= EXPANDER
			state				= NORMAL
			expander_style			= SEMI_COLLAPSED
			file				= "Treeview/expander-semi-collapsed.png"
		}
		image
 		{
			function			= EXPANDER
			state				= PRELIGHT
			expander_style			= SEMI_COLLAPSED
			file				= "Treeview/expander-semi-collapsed-prelight.png"
		}
		image
 		{
			function			= EXPANDER
			state				= ACTIVE
			expander_style			= SEMI_COLLAPSED
			file				= "Treeview/expander-semi-collapsed.png"
		}
		#semi expanded
	      	image
 		{
			function			= EXPANDER
			state				= NORMAL
			expander_style			= SEMI_EXPANDED
			file				= "Treeview/expander-semi-expanded.png"
		}
		image
 		{
			function			= EXPANDER
			state				= PRELIGHT
			expander_style			= SEMI_EXPANDED
			file				= "Treeview/expander-semi-expanded-prelight.png"
		}
		image
 		{
			function			= EXPANDER
			state				= ACTIVE
			expander_style			= SEMI_EXPANDED
			file				= "Treeview/expander-semi-expanded.png"
		}
		#expanded
	      	image
 		{
			function			= EXPANDER
			state				= NORMAL
			expander_style			= EXPANDED
			file				= "Treeview/expander-expanded.png"
		}
		image
 		{
			function			= EXPANDER
			state				= PRELIGHT
			expander_style			= EXPANDED
			file				= "Treeview/expander-expanded-prelight.png"
		}
		image
 		{
			function			= EXPANDER
			state				= ACTIVE
			expander_style			= EXPANDED
			file				= "Treeview/expander-expanded.png"
		}
		image
 		{
			function			= EXPANDER
			state				= INSENSITIVE
			expander_style			= EXPANDED
			file				= "Treeview/expander-expandend-insensitive.png"
		}
	}
}

style "icon-view"
{
	engine "pixmap"
	{	
		image 
      		{
			function			= FLAT_BOX
			recolorable			= TRUE
			file				= "Treeview/iconview-selected.png" 
			border				= { 8, 8, 8, 8}
			stretch				= TRUE
		}
	}
}
