style "menu"
{
	xthickness 					= 0
	ythickness 					= 0

	bg[SELECTED] 					= @selected_bg_color
	bg[NORMAL] 					    = @menu_bg_color
	bg[PRELIGHT] 					= @selected_bg_color
	bg[ACTIVE] 					    = @menu_bg_color
	bg[INSENSITIVE] 				= @menu_bg_color
	fg[NORMAL] 					    = @menu_fg_color
	fg[PRELIGHT] 					= @selected_fg_color
	fg[SELECTED] 					= @selected_fg_color
	fg[ACTIVE] 					    = @selected_fg_color
	fg[INSENSITIVE] 				= shade (5.0, @menu_fg_color)
	text[NORMAL] 					= @fg_color
	base[NORMAL] 					= @base_color
	text[PRELIGHT] 					= @selected_fg_color
	text[SELECTED] 					= @selected_fg_color
	text[ACTIVE] 					= @selected_fg_color
	text[INSENSITIVE] 				= shade (5.0, @menu_fg_color)

	engine "murrine" 
	{
		rgba 					= FALSE
		roundness 				= 4
	}
}

style "menu-item" 					= "wider"
{
	xthickness 					= 2
	ythickness 					= 2

	bg[SELECTED] 					= @selected_bg_color
	bg[PRELIGHT] 					= @selected_bg_color
	fg[NORMAL] 					    = @menu_fg_color
	fg[PRELIGHT] 					= @selected_fg_color
	fg[SELECTED] 					= @selected_fg_color
	text[PRELIGHT] 					= @selected_fg_color


	engine "murrine" 
	{
		roundness 				= 4
		gradient_shades				= {1.07,1.05,1.04,1.0} 
		glazestyle 				= 2
		highlight_shade				= 1.0 
		contrast				= 0.5
		lightborder_shade			= 1.15
		lightborderstyle 			= 1
		glow_shade              		= 1.0
	}
}

style "separator-menu-item"
{
}

style "menubar" 
{
	xthickness 					= 2
	ythickness 					= 2

	bg[SELECTED] 					= @bg_color
	bg[NORMAL] 					    = @bg_color
	bg[PRELIGHT] 					= @selected_bg_color
	bg[ACTIVE] 					    = shade (1.05, @menu_bg_color)
	bg[INSENSITIVE] 				= @bg_color
	fg[NORMAL] 					    = @menu_fg_color
	fg[PRELIGHT] 					= @selected_fg_color
	fg[SELECTED] 					= @selected_fg_color
	fg[ACTIVE] 					    = @selected_fg_color
	fg[INSENSITIVE] 				= shade (0.75, @menu_fg_color)
	text[NORMAL] 					= @menu_fg_color
	text[PRELIGHT] 					= @selected_fg_color
	text[SELECTED] 					= @selected_fg_color
	text[ACTIVE] 					= @selected_fg_color
	text[INSENSITIVE] 				= shade (0.75, @menu_fg_color)

	engine "murrine" 
	{
		contrast 				= 0.0
	}
}

style "radiocheck-menu"
{
	fg[PRELIGHT] 					= @selected_fg_color
	text[PRELIGHT] 					= @selected_fg_color
		
	engine "murrine" 
	{
	}
}

style "gradient-menubar"
{

GtkMenuBar::shadow_type        		        	= GTK_SHADOW_OUT

	xthickness 					= 2
	ythickness 					= 2

	engine "pixmap"
	{
		image
		{
			function 			= BOX
			file 				= "Bars/menubarbg.png"
			border 				= { 0, 0, 0, 2}
			detail 				= "menubar"
		}
	}
}
