style "notebook"
{

	GtkNotebook::tab-overlap 			= 6

	xthickness 					= 4
	ythickness 					= 4

	bg[ACTIVE]   					= shade (0.89, @bg_color)
	bg[NORMAL]   					= @bg_color
	bg[SELECTED] 					= @selected_bg_color
	fg[ACTIVE]   					= shade (2.8, @fg_color)

	engine "pixmap"
	{
		image 
      		{
			function			= BOX_GAP
			recolorable			= TRUE
			file				= "Notebook/bg.png" 
			border				= { 3, 4, 4, 0}
			state				= NORMAL
			stretch				= TRUE
			gap_side			= TOP
			gap_file			= "Notebook/gap.png"
			gap_border			= { 3 ,3 ,0 ,0}
			gap_start_file			= "Notebook/gap-start.png"
			gap_start_border		= { 0 ,0 ,0 ,0}
			gap_end_file			= "Notebook/null.png"
			detail				= "notebook"
		}
		image 
      		{
			function			= BOX_GAP
			recolorable			= TRUE
			file				= "Notebook/bg-bottom.png" 
			border				= { 3, 3, 0, 5}
			stretch				= TRUE
			gap_side			= BOTTOM
			gap_file			= "Notebook/gap.png"
			gap_border			= { 3 ,3 ,0 ,0}
			gap_start_file			= "Notebook/gap-b-start.png"
			gap_start_border		= { 3 ,0 ,0 ,0}
			gap_end_file			= "Notebook/null.png"
			detail				= "notebook"
		}
		image 
      		{
			function			= BOX_GAP
			recolorable			= TRUE
			file				= "Notebook/bg-left.png" 
			border				= { 5, 0, 3, 3}
			stretch				= TRUE
			gap_side			= LEFT
			gap_file			= "Notebook/gap-v.png"
			gap_border			= { 0 ,0 ,3 ,3}
			gap_start_file			= "Notebook/gap-l-start.png"
			gap_start_border		= { 0 ,0 ,3 ,0}
			gap_end_file			= "Notebook/null.png"
			detail				= "notebook"
		}	
		image 
      		{
			function			= BOX_GAP
			recolorable			= TRUE
			file				= "Notebook/bg-right.png" 
			border				= { 0, 5, 3, 3}
			stretch				= TRUE
			gap_side			= RIGHT
			gap_file			= "Notebook/gap-v.png"
			gap_border			= { 0 ,0 ,3 ,3}
			gap_start_file			= "Notebook/gap-r-start.png"
			gap_start_border		= { 0 ,0 ,3 ,0}
			gap_end_file			= "Notebook/null.png"
			detail				= "notebook"
		}
		image
      		{
			function			= BOX
			recolorable			= TRUE
			file				= "Notebook/bg.png" 
			border				= { 3, 4, 5, 0}
			stretch				= TRUE
		}
		#top tabs
		image 
      		{
			function			= EXTENSION
			recolorable			= TRUE
			file				= "Notebook/tab-v-normal.png" 
			border				= { 4, 4, 5, 0}
			state				= NORMAL
			stretch				= TRUE
			gap_side			= BOTTOM
			gap_file			= "Notebook/null.png"
			gap_border			= { 0 ,0 ,0 ,0}
			gap_start_file			= "Notebook/null.png"
			gap_start_border		= { 0 ,0 ,0 ,0}
			gap_end_file			= "Notebook/null.png"
			detail				= "tab"
		}
		image 
      		{
			function			= EXTENSION
			recolorable			= TRUE
			file				= "Notebook/tab-v-active.png" 
			border				= { 4, 4, 5, 0}
			state				= ACTIVE
			stretch				= TRUE
			gap_side			= BOTTOM
			detail				= "tab"
		}
		#bottom tabs
		image 
      		{
			function			= EXTENSION
			recolorable			= TRUE
			file				= "Notebook/tab-b-normal.png" 
			border				= { 4, 4, 0, 5}
			state				= NORMAL
			stretch				= TRUE
			gap_side			= TOP
			gap_file			= "Notebook/null.png"
			gap_border			= { 0 ,0 ,0 ,0}
			gap_start_file			= "Notebook/null.png"
			gap_start_border		= { 0 ,0 ,0 ,0}
			gap_end_file			= "Notebook/null.png"
			detail				= "tab"
		}
		image 
      		{
			function			= EXTENSION
			recolorable			= TRUE
			file				= "Notebook/tab-b-active.png" 
			border				= { 4, 4, 0, 5}
			state				= ACTIVE
			stretch				= TRUE
			gap_side			= TOP
			detail				= "tab"
		}
		#left tabs
		image 
      		{
			function			= EXTENSION
			recolorable			= TRUE
			file				= "Notebook/tab-l-normal.png" 
			border				= { 5, 0, 4, 4}
			state				= NORMAL
			stretch				= TRUE
			gap_side			= RIGHT
			gap_file			= "Notebook/null.png"
			gap_border			= { 0 ,0 ,0 ,0}
			gap_start_file			= "Notebook/null.png"
			gap_start_border		= { 0 ,0 ,0 ,0}
			gap_end_file			= "Notebook/null.png"
			detail				= "tab"
		}
		image 
      		{
			function			= EXTENSION
			recolorable			= TRUE
			file				= "Notebook/tab-l-active.png" 
			border				= { 5, 0, 4, 4}
			state				= ACTIVE
			stretch				= TRUE
			gap_side			= RIGHT
			detail				= "tab"
		}
		#right tabs
		image 
      		{
			function			= EXTENSION
			recolorable			= TRUE
			file				= "Notebook/tab-r-normal.png" 
			border				= { 0, 5, 4, 4}
			state				= NORMAL
			stretch				= TRUE
			gap_side			= LEFT
			gap_file			= "Notebook/null.png"
			gap_border			= { 0 ,0 ,0 ,0}
			gap_start_file			= "Notebook/null.png"
			gap_start_border		= { 0 ,0 ,0 ,0}
			gap_end_file			= "Notebook/null.png"
			detail				= "tab"
		}
		image 
      		{
			function			= EXTENSION
			recolorable			= TRUE
			file				= "Notebook/tab-r-active.png" 
			border				= { 0, 5, 4, 4}
			state				= ACTIVE
			stretch				= TRUE
			gap_side			= LEFT
			detail				= "tab"
		}
		image
		{
			function			= FOCUS
			file				= "Null/null.png"
		}
	}
}

style "notebook-fix"
{
	engine "pixmap"
	{
		image
		{
			function        		= FLAT_BOX
			recolorable     		= TRUE
			file				= "Notebook/notebook-fix.png"
			border				= { 0, 0, 0, 0 }
			stretch         		= TRUE
		}
	}
}
