style "notebook"
{

	GtkNotebook::tab-overlap 			= -2

	xthickness 					= 2
	ythickness 					= 4

	bg[ACTIVE]   					= @bg_color
	bg[NORMAL]   					= shade (1.05, @bg_color)
	bg[SELECTED] 					= @bg_color

    engine "murrine"
    {
        #gradient_shades     		= {1.0,1.0,1.0,1.0}
        highlight_shade             = 1.05
        glazestyle                  = 3
        #glow_shade                  = 0.0
        #shadow_shades               = {0.0,0.0}
        
        #reliefstyle                  = 0
        #focusstyle                   = 0
    }

}

