style "progressbar"
{
	xthickness 					= 0
	ythickness 					= 0

	fg[PRELIGHT] 					= lighter (@selected_fg_color)
  	bg[NORMAL]   					= @bg_color
	bg[SELECTED] 					= @selected_bg_color

	engine "murrine" 
	{
		roundness 	    			= 2
		gradient_shades     			= {1.15, 1.15, 0.95, 0.95}  
		lightborder_shade   			= 1.2
		lightborderstyle    			= 1
		glow_shade          			= 1.02
		glowstyle 	    			= 0
		highlight_shade     			= 1.02
		trough_shades       			= { 0.95, 1.15 }
		border_shades                     = {0.85,0.85}
	}
	
}

style "scale" 						= "button"
{

	bg[SELECTED]					= @selected_bg_color
	bg[ACTIVE] 					= shade (0.9, @bg_color)

	engine "murrine" 
	{
		roundness 				= 2  
		contrast  				= 0.9
		highlight_shade 			= 1.05
		lightborder_shade 			= 1.2
		reliefstyle 				= 4
	}
}

style "hscale"
{
	
}

style "vscale"
{

}

style "pixmap-scrollbar" 
{

	GtkScrollbar::has_backward_stepper		= 1
	GtkRange::slider_width 				= 12
	GtkRange::stepper_size 				= 13
	GtkRange::trough-under-steppers 		= 1
	GtkRange::trough-border        			= 2

	xthickness 					= 1
	ythickness 					= 1

	engine "pixmap" 
    	{
	        image 
	        {
            		function        		= BOX
            		recolorable     		= TRUE
            		detail          		= "trough"
            		file            		= "Scrollbars/scrollbar-v-trough.png"
            		border          		= { 1, 1, 1, 1}
            		stretch         		= TRUE
            		orientation     		= VERTICAL
        	}
	        image 
        	{
            		function        		= BOX
            		recolorable     		= TRUE
            		detail          		= "trough"
            		file            		= "Scrollbars/scrollbar-h-trough.png"
            		border          		= { 1, 1, 1, 1}
            		stretch         		= TRUE
            		orientation     		= HORIZONTAL
        	}
 ######### Sliders ############
	        image 
        	{
	    		function        		= SLIDER
	    		recolorable     		= TRUE
	    		state           		= NORMAL
	   		 file				= "Scrollbars/slider-h-normal.png"
	    		border				= { 7, 7, 5, 5}
	    		stretch         		= TRUE
	    		orientation     		= HORIZONTAL
        	}
        	image 
        	{
	    		function        		= SLIDER
	    		recolorable     		= TRUE
			state				= ACTIVE
			file				= "Scrollbars/slider-h-normal.png"
			border				= { 7, 7, 5, 5}
			stretch				= TRUE
			orientation			= HORIZONTAL
		}
		image 
		{
			function        		= SLIDER
			recolorable     		= TRUE
			state				= PRELIGHT
			file				= "Scrollbars/slider-h-prelight.png"
			border				= { 7, 7, 5, 5}
			stretch				= TRUE
			orientation			= HORIZONTAL
		}
		image 
        	{
	    		function        		= SLIDER
	    		recolorable     		= TRUE
	    		state           		= INSENSITIVE
			file            		= "Scrollbars/slider-h-normal.png"
	    		border				= { 7, 7, 5, 5}
	    		stretch				= TRUE
	    		orientation			= HORIZONTAL
        	}
		image 
		{
			function			= SLIDER
			recolorable			= TRUE
			state				= NORMAL
			file				= "Scrollbars/slider-v-normal.png"
			border				= { 5, 5, 7, 7}
			stretch				= TRUE
			orientation			= VERTICAL
		}
        	image 
        	{
	    		function        		= SLIDER
	    		recolorable     		= TRUE
	    		state           		= ACTIVE
	    		file           		 	= "Scrollbars/slider-v-normal.png"
	    		border         		 	= { 5, 5, 7, 7}
	    		stretch        			= TRUE
	    		orientation     		= VERTICAL
        	}
        	image 
        	{
		    	function        		= SLIDER
	    		recolorable     		= TRUE
	    		state           		= PRELIGHT
	    		file            		= "Scrollbars/slider-v-prelight.png"
	    		border         			= { 5, 5, 7, 7}
	    		stretch         		= TRUE
	    		orientation     		= VERTICAL
        	}
        	image 
        	{
			function        		= SLIDER
	    		recolorable     		= TRUE
	    		state           		= INSENSITIVE
	    		file            		= "Scrollbars/slider-v-normal.png"
	    		border          		= { 5, 5, 7, 7}
	    		stretch         		= TRUE
	    		orientation     		= VERTICAL
       		}
 ######### Steppers ############
		image 
		{
			function	    		= STEPPER
			recolorable	    		= TRUE
			state               		= NORMAL
			file		    		= "Scrollbars/stepper-up.png"
			stretch		    		= TRUE
			arrow_direction	    		= UP
		}
		image 
		{
			function	    		= STEPPER
			recolorable	    		= TRUE
			state               		= ACTIVE
			file		    		= "Scrollbars/stepper-up.png"
			stretch		    		= TRUE
			arrow_direction	    		= UP
		}
		image 
		{
			function	    		= STEPPER
			recolorable	    		= TRUE
			state               		= PRELIGHT
			file		    		= "Scrollbars/stepper-up.png"
			stretch		    		= TRUE
			arrow_direction	    		= UP
		}
		image 
		{
			function	    		= STEPPER
			recolorable	    		= TRUE
			state               		= INSENSITIVE
			file		    		= "Scrollbars/stepper-up-insensitive.png"
			stretch		    		= TRUE
			arrow_direction	    		= UP
		}
		image 
		{
			function	    		= STEPPER
			recolorable	    		= TRUE
			state               		= NORMAL
			file		    		= "Scrollbars/stepper-down.png"
			stretch		    		= TRUE
			arrow_direction	    		= DOWN
		}
		image 
		{
			function	    		= STEPPER
			recolorable	    		= TRUE
			state               		= ACTIVE
			file		    		= "Scrollbars/stepper-down.png"
			stretch		    		= TRUE
			arrow_direction	    		= DOWN
		}
		image 
		{
			function	    		= STEPPER
			recolorable	    		= TRUE
			state               		= PRELIGHT
			file		    		= "Scrollbars/stepper-down.png"
			stretch		    		= TRUE
			arrow_direction	    		= DOWN
		}
		image 
		{
			function	    		= STEPPER
			recolorable	    		= TRUE
			state               		= INSENSITIVE
			file		    		= "Scrollbars/stepper-down-insensitive.png"
			stretch		    		= TRUE
			arrow_direction	    		= DOWN
		}
		image 
		{
			function	    		= STEPPER
			recolorable	    		= TRUE
			state               		= NORMAL
			file		    		= "Scrollbars/stepper-left.png"
			stretch		    		= TRUE
			arrow_direction	    		= LEFT
		}
		image 
		{
			function	    		= STEPPER
			recolorable	    		= TRUE
			state              		= ACTIVE
			file		    		= "Scrollbars/stepper-left.png"
			stretch		    		= TRUE
			arrow_direction	    		= LEFT
		}
		image 
		{
			function	    		= STEPPER
			recolorable	    		= TRUE
			state               		= PRELIGHT
			file		    		= "Scrollbars/stepper-left.png"
			stretch		    		= TRUE
			arrow_direction	    		= LEFT
		}
		image 
		{
			function	    		= STEPPER
			recolorable	    		= TRUE
			state               		= INSENSITIVE
			file		    		= "Scrollbars/stepper-left-insensitive.png"
			stretch		    		= TRUE
			arrow_direction	    		= LEFT
		}
		image 
		{
			function	    		= STEPPER
			recolorable	    		= TRUE
			state               		= NORMAL
			file		   		= "Scrollbars/stepper-right.png"
			stretch		    		= TRUE
			arrow_direction	    		= RIGHT
		}
		image 
		{
			function	    		= STEPPER
			recolorable	    		= TRUE
			state               		= ACTIVE
			file		    		= "Scrollbars/stepper-right.png"
			stretch		    		= TRUE
			arrow_direction	    		= RIGHT
		}
		image 
		{
			function	    		= STEPPER
			recolorable	   		= TRUE
			state               		= PRELIGHT
			file		   		= "Scrollbars/stepper-right.png"
			stretch		   		= TRUE
			arrow_direction	   		= RIGHT
		}
		image 
		{
			function	    		= STEPPER
			recolorable	    		= TRUE
			state               		= INSENSITIVE
			file		    		= "Scrollbars/stepper-right-insensitive.png"
			stretch		    		= TRUE
			arrow_direction	    		= RIGHT
		}
	}
}

style "hscrollbar"
{
}

style "vscrollbar"
{
}
