style "banshee-menubar"
{

	GtkMenuBar::internal-padding 			= 1

	xthickness					= 0
	ythickness 					= 6

	engine "pixmap"
	{
		image
		{
			function 			= BOX
			file 				= "Apps/Banshee/Bars/banshee-menubar.png"
			border 				= {0, 0, 0, 6}
			detail 				= "menubar"
		}
	}
}


widget_class "*__gtksharp_12_Banshee_Gui_Widgets_MainMenu*GtkMenuBar"	style "banshee-menubar"

style "banshee-entry-view"
{
	GtkTreeView::row-ending-details 		= TRUE

	xthickness 					= 1


	engine "pixmap"									
	{
		image
		{
			function			= FLAT_BOX
			recolorable			= TRUE
			state				= NORMAL
			file				= "Apps/Rhythmbox/Treeview/row-middle.png"
			border				= { 0, 0, 12, 0}
			stretch				= TRUE
		}

		image
		{
			function			= FLAT_BOX
			recolorable			= TRUE
			state				= SELECTED
			file				= "Apps/Rhythmbox/Treeview/row-selected.png"
			border				= { 0, 0, 0, 1}
			stretch				= TRUE
		}
	}
}

widget_class "*__gtksharp_45_Banshee_Sources_Gui_CompositeTrackSourceContents*GtkScrolledWindow*"	style "banshee-entry-view" #don't work, and i have no idea if it's supposed to ever do.

style "left-handle"
{
	xthickness 					= 0
	ythickness 					= 0

	GtkPaned::handle-size				= 8

	engine "pixmap"
	{
		image
		{
			function			= HANDLE
			recolorable			= TRUE
			file				= "Apps/Banshee/handle-broken-vert.png"
			stretch				= TRUE
			border 				= { 0, 0, 0, 0}
			orientation			= VERTICAL
		}
	}

}

style "handle-v-broken"
{
	xthickness 					= 0
	ythickness 					= 0

	GtkPaned::handle-size				= 8

	engine "pixmap"
	{
		image
		{
			function			= HANDLE
			recolorable			= TRUE
			file				= "Apps/Banshee/handle-v-broken.png"
			stretch				= TRUE
			border 				= { 0, 0, 0, 0}
			orientation			= VERTICAL
		}
	}

}

style "handle-h-broken"
{
	GtkPaned::handle-size				= 8

	engine "pixmap"
	{
		image
		{
			function			= HANDLE
			recolorable			= TRUE
			file				= "Apps/Rhythmbox/Handles/handle-broken.png"
			stretch				= TRUE
			border 				= { 0, 0, 0, 0}
			orientation			= HORIZONTAL
		}
	}
}
#widget_class "*__gtksharp_45_Banshee_Sources_Gui_CompositeTrackSourceContents*" style "left-handle"

widget_class "*__gtksharp_11_Nereid_PlayerInterface*GtkHPaned"		style "handle-v-broken"
widget_class "*__gtksharp_45_Banshee_Sources_Gui_CompositeTrackSourceContents*GtkVPaned*" style "handle-h-broken"
widget "*__gtksharp_??_Banshee_ContextPane_ContextPane*.GtkRadioButton"	style:highest "button"
