style "caja-window"
{
	bg[NORMAL] 					= shade (1.05, @bg_color)
}

style "caja-splitter"
{
	xthickness 					= 0
	ythickness 					= 0

	GtkPaned::handle-size         			= 1

	bg[NORMAL] 					= @base_color
	
	engine "pixmap"
	{
		image 
		{
			function			= HANDLE
			recolorable			= TRUE
		 	file				= "Apps/Caja/handle-n.png"
		 	stretch				= TRUE
		}
	}
}

style "caja-split-view"
{
	xthickness 					= 1
	ythickness 					= 0

	GtkPaned::handle-size         			= 6

	bg[NORMAL] 					= @base_color
	
	engine "pixmap"
	{
		image 
		{
			function			= HANDLE
		 	recolorable			= TRUE
		 	file				= "Apps/Caja/handle-n-splitter.png"
			border				= { 1, 1, 0, 0}
		 	stretch				= TRUE
		}
	}
}


style "caja-icon-view"
{
	xthickness 					= 0
	ythickness 					= 1
}

style "caja-toolbar" 
{
	GtkToolbar::internal-padding 			= 2

	engine "pixmap" 
	{
		image
		{
			function 			= BOX
			recolorable 			= TRUE
			stretch 			= TRUE
			file 				= "Apps/Caja/toolbarbg.png"
			border 				= { 0, 0, 0, 2}
		}
	}

}

style "caja-list-view"
{
	xthickness 					= 0
	ythickness 					= 1
}

style "caja-location"
{

	xthickness					= 0
	ythickness					= 0

	bg[NORMAL] 					= @base_color

	engine "pixmap"
	{

		image 
		{
			function			= FLAT_BOX
			recolorable			= TRUE
			file				= "Apps/Caja/Location/bg.png"
			state				= NORMAL
			stretch				= TRUE
			border 				= { 0, 0, 1, 0}
		}
	}
}

style "caja-sidebar"
{
	GtkTreeView::horizontal-separator 		= 4

	xthickness 					= 0
	ythickness 					= 1

	bg[NORMAL] 					= "#EEEEEE"
	base[NORMAL] 					= "#EEEEEE"

	engine "pixmap"									
	{
		image
		{
			function			= FLAT_BOX
			recolorable			= TRUE
			state				= NORMAL
			file				= "Apps/Caja/side-bg.png"
			border				= { 0, 0, 0, 0}
			stretch				= TRUE
		}
		image
		{
			function			= FLAT_BOX
			recolorable			= TRUE
			state				= SELECTED
			file				= "Apps/Caja/row-selected.png"
			border				= { 0, 0, 0, 0}
			stretch				= TRUE
		}
	        image
		{
                	function 			= SHADOW
                	file 				= "Treeview/focus-dnd.png"
			border 				= {10, 10, 10, 10}
			detail 				= "scrolled_window"
		}
	}
}

style "caja-statusbar"
{
	#GtkStatusbar::shadow-type = GTK_SHADOW_OUT
	
	ythickness 					= 4
	xthickness 					= 4	
	
	bg[NORMAL] 					= shade (1.05, @bg_color)
	base[NORMAL] 					= shade (1.05, @bg_color)
	fg[NORMAL] 					= shade (1.2, @fg_color)
}

style "caja-notebook" 				= "notebook"
{
	engine "pixmap" 
    	{
		image 
		{
			function			= BOX_GAP
			recolorable			= TRUE
			file				= "Apps/Caja/notebook-bg.png" 
			border				= { 4, 4, 3, 5}
			state				= NORMAL
			stretch				= TRUE
			gap_side			= TOP
			gap_file			= "Notebook/gap.png"
			gap_border			= { 3 ,3 ,0 ,0}
			gap_start_file			= "Notebook/gap-start.png"
			gap_start_border		= { 0 ,0 ,0 ,0}
			gap_end_file			= "Notebook/null.png"
			detail				= "notebook"
		}
  	}
}

style "caja-scrollbar"
{
	engine "pixmap"
	{
	        image 
        	{
			function        		= BOX
        		recolorable     		= TRUE
        		detail          		= "trough"
        		file            		= "Apps/Caja/caja-v-trough.png"
        		border          		= { 0, 1, 1, 1}
        		stretch				= TRUE
			orientation			= VERTICAL
		}
		image 
		{
			function        		= BOX
        		recolorable     		= TRUE
        		detail          		= "trough"
        		file				= "Apps/Caja/caja-h-trough.png"
        		border				= { 0, 0, 0, 1}
			stretch				= TRUE
			orientation			= HORIZONTAL
		}
	}
}

style "caja-breadcrumbs"
{
	xthickness 					= 3
	ythickness 					= 3
	
	GtkButton::child-displacement-y			= 0

	fg[PRELIGHT] 					= shade (0.9, @selected_bg_color)

	engine "pixmap"
	{	
		image
		{
			function        		= BOX
			shadow				= OUT
			recolorable     		= TRUE
			state				= NORMAL
			file				= "Apps/Caja/breadcumb-normal.png"
			border				= { 3, 13, 3, 3}
			stretch         		= TRUE
		}		
		image
		{
			function        		= BOX
			recolorable     		= TRUE
			shadow				= OUT
			state				= PRELIGHT
			file				= "Apps/Caja/breadcumb-prelight.png"
			border				= { 3, 13, 3, 3}
			stretch         		= TRUE
		}
		image
		{
			function        		= BOX
			recolorable     		= TRUE
			shadow				= IN
			state				= PRELIGHT
			file				= "Null/null.png"
			stretch         		= TRUE
		}
		image
		{
			function        		= BOX
			recolorable     		= TRUE
			shadow				= IN
			state				= ACTIVE
			file				= "Null/null.png"
			stretch         		= TRUE
		}
	}
}

style "caja-sliders"
{	

	xthickness 					= 0
	ythickness 					= 0
	
	engine "pixmap"
	{
		image 
		{
			function 			= BOX
			file				= "Null/null.png"
			stretch				= TRUE
		}
	}
}

style "caja-pathbar"
{	
	fg[PRELIGHT] 					= shade (0.9, @selected_bg_color)
}
widget_class "*CajaNavigationWindow"		style "caja-window"
widget_class "*CajaHorizontalSplitter"		style "caja-splitter"
widget_class "*CajaHorizontalSplitter*GtkHPaned"	style "caja-split-view"
widget_class "*FMIconView"				style "caja-icon-view"
widget_class "*FMListView"				style "caja-list-view"
widget_class "*CajaSidePane*"				style "caja-sidebar"
#widget_class "*CajaHorizontalSplitter*GtkStatusbar"	style "caja-statusbar"
widget_class "*CajaNotebook"				style "caja-notebook"
widget_class "*Caja*Scrollbar*"				style "caja-scrollbar"
widget_class "CajaNavigationWindow*GtkToolbar"		style "caja-toolbar"
widget_class "*CajaPathBar.*ToggleButton*" 			style "caja-breadcrumbs" 
widget_class "*CajaPathBar*" 				style "caja-pathbar" 
widget_class "*CajaPathBar*GtkButton" 			style "caja-sliders" 
widget "*statusbar-noborder*"					style "caja-statusbar" 
widget "*.caja-extra-view-widget" 				style "caja-location"

widget_class "*.CajaSidePane.GtkVBox.GtkHBox.<GtkButton>*"	style "button"
