style "deluge-preferences"
{
	engine "pixmap"
	{
		image
		{
			function			= FLAT_BOX
			recolorable     		= TRUE
			file				= "Deluge/notebook-fix.png"
			border				= { 0, 0, 0, 50}
			stretch         		= TRUE
		}
	}
}

style "deluge-preferences-info"
{
	engine "pixmap"
	{
		image
		{
			function			= FLAT_BOX
			recolorable     		= TRUE
			file				= "Deluge/info-fix.png"
			border				= { 1, 1, 1, 1}
			stretch         		= TRUE
		}
	}
}

widget "main_window*torrent_info.*viewport?"	style "notebook-fix"
widget"pref_dialog.*.notebook.*viewport?"	style "notebook-fix"
widget"pref_dialog.*.notebook.*viewport??"	style "notebook-fix"
widget"pref_dialog.*.notebook.*GtkViewport"	style "notebook-fix"

widget"pref_dialog.*.notebook.*viewport5"	style:highest "deluge-preferences"
widget"pref_dialog.*.notebook.*viewport12"	style "deluge-preferences-info"
