style "eom-window"
{	

	bg[NORMAL] 				= @bg_color

#	stock["gtk-go-back"] = {{ "Icons/eom/go-back.png", *, *, * }}
#	stock["gtk-go-forward"] = {{ "Icons/eom/go-forward.png", *, *, * }}
#	stock["gtk-zoom-in"] = {{ "Icons/eom/zoom-in.png", *, *, * }}#
#	stock["gtk-zoom-out"] = {{ "Icons/eom/zoom-out.png", *, *, * }}		# THIS WON'T BE USED UNTIL ALL THE STOCK ITEMS CAN BE THEMED.
#	stock["gtk-zoom-100"] = {{ "Icons/eom/zoom-100.png", *, *, * }}
#	stock["gtk-zoom-fit"] = {{ "Icons/eom/zoom-fit.png", *, *, * }}
#	stock["gtk-goto-first"] = {{ "Icons/eom/go-first.png", *, *, * }}
#	stock["gtk-goto-last"] = {{ "Icons/eom/go-last.png", *, *, * }}
#	stock["gtk-properties"] = {{ "Icons/eom/properties.png", *, *, * }}
#	stock["gtk-delete"] = {{ "Icons/eom/delete.png", *, *, * }}
#	stock["gtk-save"] = {{ "Icons/eom/save.png", *, *, * }}
#	stock["gtk-object-rotate-right"] = {{ "Icons/eom/redo.png", *, *, * }}
	
}

style "eom-statusbar"
{
	xthickness                    		= 6
	ythickness                    		= 4

	bg[NORMAL] 				= @bg_color
}

style "eom-scroll-view"
{
	xthickness                    		= 0
	ythickness                    		= 1

	bg[NORMAL] 				= shade (0.1, @bg_color)
	base[NORMAL] 				= shade (0.1, @bg_color)
}

style "eom-treeview" 				= "treeview"
{
	xthickness                    		= 1
	ythickness                    		= 1
}

style "eom-toolbar-button" 
{

	xthickness 				= 2
	ythickness 				= 2

	engine "murrine" 
	{
		contrast 	    		= 1.0
		highlight_shade	    		= 1.02
		lightborder_shade   		= 1.2
		gradient_shades     		= {1.12,1.1,1.05,0.95} 
		border_shades 	    		= {1.2,1.2}
		#shadow_shades	    		= {0.5,0.0}
		reliefstyle 	    		= 3
	}
}

style "eom-toolbar"
{

	#GtkToolbar::shadow_type		= GTK_SHADOW_NONE
	GtkToolbar::internal-padding 		= 2

	bg[NORMAL] 				= @bg_color
	fg[NORMAL] 				= @fg_color
	fg[PRELIGHT] 				= "#000000"
	fg[ACTIVE] 				= @fg_color

	engine "murrine" 
	{
		gradient_shades     		= {1.0,0.98,0.98,0.93} 
		highlight_shade     		= 1.0
		glow_shade	    		= 1.0
		contrast            		= 1.3
		lightborder_shade   		= 0.0
		glazestyle          		= 4
		reliefstyle 	    		= 3
	} 
}

style "eom-menubar" 				= "menubar"
{
	xthickness 				= 2
	ythickness 				= 2

	bg[NORMAL] 				= @bg_color
}

style "noborder"
{
	xthickness 				= 0
	ythickness 				= 0
}

style "thumb-view"
{
	#base[NORMAL] 				= shade (0.1, @bg_color)

	engine "pixmap"
	{	
		image 
      		{
			function		= FLAT_BOX
			recolorable		= TRUE
			file			= "Treeview/iconview-selected.png"
			border			= { 8, 8, 8, 8}
			stretch			= TRUE
		}
		image 
      		{
			function		= FOCUS
			file			= "Null/null.png"
		}
	}
}

style "thumb-nav"
{
	bg[NORMAL] 				= @bg_color
	base[NORMAL] 				= @bg_color
}


style "minimal-scrollbar"
{
	xthickness 				= 0
	ythickness 				= 0

	GtkRange::slider_width 			= 13
	GtkRange::stepper_size 			= 13
	GtkScrollbar::has_backward_stepper	= 1
	GtkScrollbar::has_forward_stepper	= 1
	GtkScrollbar::has_secondary_backward_stepper	= 0
	GtkScrollbar::has_secondary_forward_stepper	= 0
	GtkRange::trough-border        			= 0
	GtkRange::trough-under-steppers 		= 1
	GtkScrolledWindow::scrollbars-within-bevel	= 0

	bg[NORMAL] 					= shade (0.1, @bg_color)
	bg[SELECTED]   					= shade (0.5, @bg_color)
	bg[ACTIVE]   					= shade (0.1, @bg_color)
	bg[PRELIGHT] 					= shade (0.1, @bg_color)
	bg[INSENSITIVE] 				= shade (0.1, @bg_color)
	fg[INSENSITIVE] 				= shade (0.1, @bg_color)
	fg[NORMAL] 					= shade (0.1, @bg_color)
	fg[PRELIGHT] 					= shade (0.1, @bg_color)

	engine "murrine" 
	{
		roundness				= 5
		gradient_shades				= {1.0,1.0,1.0,1.0}
		highlight_shade				= 1.0
		glow_shade 				= 1.0
		reliefstyle 				= 0
		gradient_colors 			= FALSE
    		lightborder_shade       		= 1.0
		trough_shades	        		= { 0.1, 0.1}
		#border_shades				= { 0.1, 0.1}
		border_colors 				= { shade (0.1, @bg_color),shade (0.1, @bg_color) }
		contrast 				= 0.0
		prelight_shade				= 1.08
		stepperstyle       			= 2
	}
}

style "eom-scroll"
{
	xthickness 					= 0
	ythickness 					= 0

	engine "pixmap"
	{
        	image 
        	{
			function        		= BOX
        		recolorable     		= TRUE
        		detail          		= "trough"
        		file				= "Apps/Eom/eom-v-trough.png"
        		border          		= { 1, 1, 0, 0}
			stretch         		= TRUE
			orientation     		= VERTICAL
		}
		image 
        	{
			function        		= BOX
        		recolorable     		= TRUE
        		detail          		= "trough"
			file				= "Apps/Eom/eom-h-trough.png"
        		border          		= { 0, 0, 1, 1 }
        		stretch         		= TRUE
        		orientation			= HORIZONTAL
		}
	}
}


widget_class "*EomThumbNav*.*"				style:highest "thumb-nav"
widget_class "*EomWindow*GtkMenuBar*"			style:highest "eog-menubar"
widget_class "*EomWindow*"				style "eog-window"
widget_class "*EomWindow*GtkHPaned*"			style "eog-scroll-view"
widget_class "*Eom*Toolbar*GtkButton*"              	style "button"
widget_class "*EomWindow*GtkToolbar"              	style "eog-toolbar"
#widget_class "*EomThumbNav*"				style "noborder"

widget_class "*EomThumbView*"				style "thumb-view"
widget_class "*EomThumbNav*GtkScrolledWindow*"		style "eog-scroll"
widget_class "*EomScrollView*"				style "minimal-scrollbar"
widget_class "*EomScrollView*"				style "eog-scroll-view"
widget_class "Eom*Statusbar*"                  		style "eog-statusbar"
widget "Eom*Statusbar*.*"                      		style "eog-statusbar"
#widget_class "Eom*Scrollbar"           		style "eog-scroll"
