#Gimp button fixes
widget_class "GimpMenuDock*GimpColorSelect*<GtkRadioButton>*"	style:highest "button"
widget_class "GimpMenuDock*GimpColorEditor*<GtkRadioButton>*"	style:highest "button"

widget_class "GimpToolbox.*GtkHWrapBox.*<GtkRadioButton>*"	style:highest "button"
widget_class "GimpToolbox.*GimpToolOptionsEditor.GtkScrolledWindow.GtkViewport.GtkVBox.GtkVBox.GtkHBox.GtkHBox.<GtkRadioButton>*"	style:highest "button"
widget_class "GimpToolbox.*GimpToolOptionsEditor.GtkScrolledWindow.GtkViewport.GtkVBox.GtkVBox.GtkTable.GtkHBox.GtkHBox.<GtkRadioButton>*"	style:highest "button"
widget_class "GimpToolbox.*GimpToolOptionsEditor.GtkScrolledWindow.GtkViewport.GtkVBox.GtkVBox.GtkVBox.GimpFrame.GtkVBox.GtkHBox.GtkHBox.<GtkRadioButton>*"	style:highest "button"

#Gimp color tab, color picker frame fix
widget "*GimpColorEditor.GtkHBox.GimpFgBgEditor"	style:highest "default"
