style "inkscape-toolbar"
{
	engine "pixmap"
	{
		image
		{
			function			= BOX
			file				= "Bars/toolbarbg.png"
		}
		image
		{
			function			= FLAT_BOX
			file				= "Bars/toolbarbg.png"
		}
		image
		{
			function			= HANDLE
			orientation			= VERTICAL
		}
	}
}

#main inkscape toolbar fix
widget "gtkmm__GtkWindow.SPDesktopWidget.GtkVBox.GtkHandleBox"	style:highest "inkscape-toolbar"
#main toolbar color picker fix
widget "gtkmm__GtkWindow.SPDesktopWidget.GtkVBox.GtkHandleBox*EventBox"	style:highest "inkscape-toolbar"
#inkscape button fixes
widget "gtkmm__GtkWindow.*SPPaintSelector.GtkHBox.GtkHBox.GtkRadioButton"	style:highest "button"
widget "gtkmm__GtkWindow.*SPWidget.*gtkmm__GtkRadioButton"			style:highest "button"
widget "gtkmm__GtkWindow.SPDesktopWidget.GtkVBox.GtkHandleBox*GtkToolbar.*GtkRadioButton"	style:highest "button"
