style "panel-buttons"
{
	GtkButton::child-displacement-x			= 0
	GtkButton::child-displacement-y			= 1

	xthickness					= 4
	ythickness					= 0

	fg[NORMAL]					= @fg_color
	fg[PRELIGHT]					= "#000000"
	fg[ACTIVE]					= "#FFFFFF"
	text[NORMAL]					= @fg_color
	text[PRELIGHT]					= @fg_color
	text[ACTIVE]					= @fg_color

	bg_pixmap[NORMAL]				= "/Panel/panelbg.png" # Disable for normal panel backgrounds.

	engine "pixmap"
	{
		image
		{
			function			= BOX
			recolorable			= TRUE
			state				= NORMAL
			file				= "Apps/Panel/button-normal.png"
			border				= { 5, 5, 11, 11}
			stretch				= TRUE
		}
		image
		{
			function			= BOX
			recolorable			= TRUE
			state				= PRELIGHT
			file				= "Apps/Panel/button-prelight.png"
			border				= { 5, 5, 11, 11}
			shadow				= OUT
			stretch				= TRUE
		}
		image
		{
			function			= BOX
			recolorable			= TRUE
			state				= PRELIGHT
			file				= "Apps/Panel/button-prelight-active.png"
			border				= { 5, 5, 11, 11}
			shadow				= IN
			stretch				= TRUE
		}
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Apps/Panel/button-active.png"
			border			= { 8, 9, 12, 4}
			stretch			= TRUE
		}
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= SELECTED
			file			= "Apps/Panel/button-active.png"
			border			= { 8, 9, 12, 4}
			stretch			= TRUE
		}
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= INSENSITIVE
		} 
		image
		{
			function		= ARROW
			recolorable		= TRUE
			arrow_direction		= DOWN
		}
	}
}

style "panel-light"
{
	xthickness				= 1
	ythickness				= 0

	fg[NORMAL]				= @fg_color

	engine "murrine"
	{
		textstyle 			= 1
		roundness 			= 0
	}
}

style "panel"
{

	fg[NORMAL]				= @fg_color
	fg[PRELIGHT]				= "#000000"
	fg[ACTIVE]				= "#000000"
	text[NORMAL]				= @fg_color
	text[PRELIGHT]				= @fg_color
	text[ACTIVE]				= @fg_color

	bg_pixmap[NORMAL]			= "/Panel/panelbg.png" # Disable for normal panel backgrounds.

}

style "panel-handle" 
{
	engine "pixmap"
	{    
		image
		{
			function 		= HANDLE
		}    
	}
}

class "*PanelTopLevel*"				style "panel"
#class "*Panel*" 				style "panel"
class "*Tray*" 					style "panel"
class "*tray*" 					style "panel"
class "PanelApp*"				style "panel"

widget_class "*PanelFrame*" 			style "panel"
widget_class "*PanelAppletFrame*" 		style "panel"
widget_class "*PanelWidget*.*"			style "panel"
widget "*PanelWidget*"				style "panel"
widget "*fast-user-switch*"			style "panel"
widget "*CPUFreq*Applet*"			style "panel"
widget "*indicator-applet*"			style "panel"


widget_class "*PanelToplevel*"			style "panel"
#widget_class "*notif*"				style "panel"
#widget_class "*Notif*"				style "panel"
widget_class "*Tray*"				style "panel" 
widget_class "*tray*"				style "panel"
#widget_class "*computertemp*"			style "panel"
#widget_class "*Applet*Tomboy*"			style "panel"
#widget_class "*Applet*Netstatus*"		style "panel"

# Fixes for tooltip text in some apps.
widget_class "*Notif*Beagle*"			style "panel-light"
widget_class "*Notif*Brasero*"			style "panel-light"

# XFCE panel theming.
widget "*Xfce*Panel*"				style "panel"
class "*Xfce*Panel*"				style "panel"

# Menubar
widget "*PanelMenuBar*"				style "panel"
widget_class "*Panel*<GtkMenuBar>*"		style "panel"
#widget "*.clock-applet-button.*"		style "panel"
widget "*PanelApplet*"				style "panel"
#widget_class "*PanelAppletFrame*BonoboWidget*"	style "panel"

# Panel buttons
widget_class "*Panel*GtkToggleButton"		style:highest "panel-buttons"
widget_class "*Panel*GtkButton"			style:highest "panel-buttons"

# Hide ugly handle
class "PanelAppletFrame" 			style:highest "panel-handle"
