style "rhythmbox-header"
{
	GtkToolbar::internal-padding 		= 4
}


style "rhythmbox-header-button"
{
	GtkButton::child-displacement-y 	= 0

	xthickness 				= 2
	ythickness 				= 6

	fg[NORMAL]			 	= lighter (@fg_color)
	fg[PRELIGHT] 				= "#000000"
	fg[ACTIVE] 				= @fg_color

	engine "pixmap"
	{
		image 
		{
			function		= BOX
			file			= "Apps/Rhythmbox/Toolbar/null.png"
			state			= PRELIGHT
			stretch			= TRUE
			border 			= { 0, 0, 0, 0}
			shadow			= OUT
		}
		image 
		{
			function		= BOX
			file			= "Apps/Rhythmbox/Toolbar/button-active.png"
			state			= ACTIVE
			stretch			= TRUE
			border 			= { 3, 3, 0, 0}
			shadow			= IN
		}
		image 
		{
			function		= BOX
			file			= "Apps/Rhythmbox/Toolbar/button-active-prelight.png"
			state			= PRELIGHT
			stretch			= TRUE
			border 			= { 2, 2, 0, 0}
			shadow			= IN
		}
	}
}


style "rhythmbox-header-toolbar"
{
	engine "murrine" {}
}


style "rhythmbox-source-entry"
{
	engine "murrine" {}
}


style "rhythmbox-entry" 
{
	xthickness 				= 1
}


style "rhythmbox-entry-view"
{
	GtkTreeView::row-ending-details 	= TRUE

	xthickness 				= 1


	engine "pixmap"									
	{
		image
		{
			function		= FLAT_BOX
			recolorable		= TRUE
			state			= NORMAL
			file			= "Apps/Rhythmbox/Treeview/row-middle.png"
			border			= { 0, 0, 12, 0}
			stretch			= TRUE
		}
		image
		{
			function		= FLAT_BOX
			recolorable		= TRUE
			state			= SELECTED
			file			= "Apps/Rhythmbox/Treeview/row-selected.png"
			border			= { 0, 0, 0, 1}
			stretch			= TRUE
		}
	}
}


style "rb-library-source-handle"
{
	GtkPaned::handle-size			= 8

	engine "pixmap"
	{
		image
		{
			function		= HANDLE
			recolorable		= TRUE
			file			= "Apps/Rhythmbox/Handles/handle-broken.png"
			stretch			= TRUE
			border 			= { 0, 0, 3, 3}
			orientation		= HORIZONTAL
		}
	}
}

style "rb-statusbar"
{
	xthickness 				= 4
	ythickness 				= 4
}

widget_class "*RBSourceHeader*GtkToolbar"			style "rhythmbox-header"
widget_class "*RBSourceHeader*GtkToolbar*GtkToggleButton*"	style "rhythmbox-header-button"
widget_class "*RBSourceHeader*GtkToolbar"			style "rhythmbox-header-toolbar"
widget_class "*RBEntryView*"					style "rhythmbox-entry"
widget_class "*RBSourceHeader*GtkEntry"				style "rhythmbox-source-entry"
widget_class "*RBEntryView*GtkTreeView"			style "rhythmbox-entry-view"
widget_class "*RBLibrarySource*GtkVPaned"		style "rb-library-source-handle"
widget_class "*RBPodcastSource*GtkVPaned"		style "rb-library-source-handle"
widget_class "*RBLastfmSource*GtkVPaned"		style "rb-library-source-handle"

widget_class "*RBStatusbar*"		style "rb-statusbar"		
