// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant


$base_color: if($variant =='light', #ffffff, #404040);
$text_color: if($variant == 'light', #303030, #DADADA);
$bg_color: if($variant =='light', #F0F0F0, #383838);
$fg_color: if($variant =='light', #303030, #DADADA);

$selected_fg_color: #ffffff;
$selected_bg_color: if($variant == 'light', #92b372, #8fa876);
$selected_borders_color: darken($selected_bg_color, 20%);
$borders_color: if($variant =='light', #BDBDBD, darken($bg_color,6%));
$separator_color: if($variant == 'light', #DFDFDF, darken($bg_color, 6%));

$link_color: #1A7EE5;
$link_visited_color: #AA40BF;
//___
$selection_mode_bg: $selected_bg_color;
$selection_mode_fg: $selected_fg_color;
$warning_color: #FF780A;
$warning_fg_color: white;
$error_color: #F92031;
$error_fg_color: white;
$success_color: #29BF68;
$destructive_color: #F92031;
$suggested_color: #29BF68;
$question_color: #00ADE5;
//___
$drop_target_color: #FF780A;

//insensitive state derived colors
$insensitive_fg_color: if($variant == 'light', transparentize($fg_color, 0.45), transparentize($fg_color, 0.45));
$insensitive_bg_color: if($variant == 'light', mix($bg_color, $base_color, 40%), lighten($bg_color, 2%));

$dim_label_fg_color: transparentize($fg_color, 0.35);

$header_bg: red;
@if $variant=='light' { $header_bg: #d9d9d9; }
@if $variant=='dark' or $darker=='true' { $header_bg: #2f2f2f; }

$header_bg_backdrop: if($darker == 'true' or $variant == 'dark', lighten($header_bg, 1.5%), lighten($header_bg, 3%));

$header_border: if($variant == 'light' and $darker== 'false', #BDBDBD, darken($header_bg, 4%));
$header_highlight: if($variant == 'light' and $darker == 'false', #EEEEEE, #373737);

$header_fg: if($variant == 'light', #404040, saturate(transparentize($fg_color, 0.0), 10%));
$header_fg: if($darker == 'true', saturate(transparentize(#DADADA, 0.0), 10%), $header_fg);

$dark_sidebar_bg: if($variant == 'light', #404040, #353535);
$dark_sidebar_fg: #dbdbdb;
$dark_sidebar_border: if($variant == 'light', $dark_sidebar_bg, darken($dark_sidebar_bg, 5%));

$filechooser_bg: if($variant == 'dark', #2f2f2f, #d9d9d9);

$tooltip_bg_color: #fbeaa0;
$tooltip_fg_color: #4a4a4a;
$tooltip_border_color: #d0d0d0;

$osd_fg_color: $dark_sidebar_fg;
$osd_bg_color: $dark_sidebar_bg;

$osd_button_bg: transparentize(lighten($osd_bg_color, 22%), 0.6);
$osd_button_border: transparentize(darken($osd_bg_color, 12%), 0.6);

$osd_entry_bg: transparentize(lighten($osd_bg_color, 22%), 0.6);
$osd_entry_border: transparentize(darken($osd_bg_color, 12%), 0.6);

$osd_insensitive_bg_color: darken($osd_bg_color, 3%);
$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 30%);
$osd_borders_color: transparentize(black, 0.3);

$panel_bg: darken($dark_sidebar_bg, 4.7%);
$panel_fg: #DADADA;

$entry_bg: if($variant=='light', $base_color, lighten($base_color, 0%));
$entry_border: if($variant == 'light', #BABABA, darken($borders_color, 0%));

$header_entry_bg: if($darker == 'true' or $variant == 'dark', transparentize(lighten($header_bg, 22%), 0.6), transparentize($base_color, 0.1));
$header_entry_border: if($darker == 'true' or $variant == 'dark', transparentize(darken($header_bg, 12%), 0.6), transparentize($header_fg, 0.7));

$button_bg: if($variant == 'light', lighten($bg_color, 2%), lighten($base_color, 2%));
$button_border: $borders_color;

$header_button_bg: if($darker == 'true' or $variant == 'dark', transparentize(lighten($header_bg, 22%), 0.6), transparentize($button_bg, 0.1));
$header_button_border: if($darker == 'true' or $variant == 'dark', transparentize(darken($header_bg, 12%), 0.6), transparentize($header_fg, 0.7));

$trough_color_treeview: if($variant == 'light', #d9d9d9, darken($bg_color, 5%));
$trough_color: if($variant == 'light', #ffffff, darken($bg_color, 5%));

// WM Colors

$titlebar_fg: if($variant == 'light', #404040, $fg_color);
$titlebar_fg: if($darker == 'true', $fg_color, $titlebar_fg);

//WM Buttons

// Close
$wm_button_close_bg: if($variant == 'light' and $darker == 'false', #f46067, #cc575d);
$wm_button_close_hover_bg: if($variant == 'light' and $darker == 'false', #f68086, #d7787d);
$wm_button_close_active_bg: if($variant == 'light' and $darker == 'false', #f13039, #be3841);

$wm_icon_close_bg: if($variant == 'light' and $darker == 'false',#F8F8F9 , #2f343f);

// Minimize, Maximize
$wm_button_hover_bg: if($variant == 'light' and $darker == 'false', #fdfdfd, #454C5C);
$wm_button_active_bg: $selected_bg_color;

$wm_button_hover_border: if($variant == 'light' and $darker == 'false', #D1D3DA, #262932);

$wm_icon_bg: if($variant == 'light' and $darker == 'false', #90949E, #90939B);
$wm_icon_unfocused_bg: if($variant == 'light' and $darker == 'false', #B6B8C0, #666A74);
$wm_icon_hover_bg: if($variant == 'light' and $darker == 'false', #7A7F8B, #C4C7CC);
$wm_icon_active_bg: $selected_fg_color;
