/* 
	AUTHOR: karashata
	Modified from Zukitwo by lassekongo83 (Website: http://lassekongo83.deviantart.com)
	LICENSE: GPL
	DESCRIPTION: A minimalistic and usable theme made for gtk3 apps. Made minty, for Linux Mint.
*/

/* default color scheme */
@define-color bg_color #dcdcdc;
@define-color fg_color #2c2c2c;
@define-color base_color #ffffff;
@define-color text_color #2c2c2c;
@define-color selected_bg_color #accd8a;
@define-color selected_fg_color #ffffff;
@define-color tooltip_bg_color #F5F5B5;
@define-color tooltip_fg_color #2c2c2c;

/* other color schemes could simply override these */
@define-color theme_bg_color @bg_color;
@define-color theme_fg_color @fg_color;
@define-color theme_base_color @base_color;
@define-color theme_text_color @text_color;
@define-color theme_selected_bg_color @selected_bg_color;
@define-color theme_selected_fg_color @selected_fg_color;
@define-color theme_tooltip_bg_color @tooltip_bg_color;
@define-color theme_tooltip_fg_color @tooltip_fg_color;

/* misc colors used by gtk+ */
@define-color info_fg_color rgb (181, 171, 156);
@define-color info_bg_color rgb (252, 252, 189);
@define-color warning_fg_color rgb (173, 120, 41);
@define-color warning_bg_color rgb (250, 173, 61);
@define-color question_fg_color rgb (97, 122, 214);
@define-color question_bg_color rgb (138, 173, 212);
@define-color error_fg_color rgb (166, 38, 38);
@define-color error_bg_color rgb (237, 54, 54);
@define-color link_color #08c;
@define-color error_color #cc0000;

/* theme common colors */
@define-color button_bg_color shade (@theme_bg_color, 1.06);
@define-color button_insensitive_bg_color shade (@theme_bg_color, 0.95);
@define-color dark_bg_color #3f3f3f;
@define-color dark_fg_color #e0e0e0;
@define-color transparent rgba (0, 0, 0, 0);

/* Zukitwo colors */
@define-color toolbar_gradient_base #dcdcdc;
@define-color toolbar_gradient_final #d1d1d1;
@define-color toolbar_border #ccc;

/* Window Manager colors */
@define-color wm_highlight #ffffff;
@define-color wm_title_highlight #ffffff;

@define-color wm_bg_a shade (@bg_color, 1.1);
@define-color wm_bg_b @bg_color;

@import url("gtk-widgets.css");
@import url("apps/gnome-panel.css");
@import url("apps/gnome-terminal.css");
@import url("apps/nautilus.css");
@import url("apps/nemo.css");
@import url("apps/unity.css");
