style "caja-window-base"
{
	bg[NORMAL]	= @base_color

stock["gtk-add"] = {{ "Icons/caja/add.png", *, *, * }}
stock["gtk-remove"] = {{ "Icons/caja/remove.png", *, *, * }}
}

style "caja-location"
{

	xthickness		= 0
	ythickness		= 0

	bg[NORMAL] = @base_color

	engine "pixmap"
	{
		image 
		{
		    function	= FLAT_BOX
		    recolorable	= TRUE
		    file		= "caja/Location/bg.png"
		    state		= NORMAL
		    stretch		= TRUE
		    border 		= { 0, 0, 4, 4 }
		}
	}

}

style "caja-notebook" 
{

	xthickness		= 1
	ythickness		= 0

	  engine "pixmap" 
    {
    image 
      {
     function			= EXTENSION
	recolorable		= TRUE
	state				= ACTIVE
	file					= "caja/notebook/active-top.png"
	border			= { 2,2,24,24}
	stretch			= TRUE
      }
    image 
      {
     function			= EXTENSION
	recolorable		= TRUE
	state				= NORMAL
	file					= "caja/notebook/normal-top.png"
	border			= { 2,2,2,2}
	stretch			= TRUE
	
      }
   

 image 
      {
     function				= BOX_GAP
	recolorable			= TRUE
	file				= "caja/notebook/bg.png" 
	border				= { 1, 1, 5,0}
	stretch				= TRUE
	
      }
   
  }
}


style "caja-sidebar-title"
{
	xthickness	= 0
	ythickness	= 0

	fg[NORMAL]	        = @fg_color
	fg[PRELIGHT]	        = @fg_color
	fg[ACTIVE]		= @fg_color

	bg[NORMAL]		= "#EEEEEE"
	bg[PRELIGHT]       	= "#EEEEEE"
	bg[ACTIVE]		= "#EEEEEE"
	base[NORMAL]		= "#EEEEEE"
	base[PRELIGHT]       	= "#EEEEEE"
	base[ACTIVE]		= "#EEEEEE"

	font_name 	                  = "Semibold"

	GtkExpander	::expander-spacing	= 0
	GtkExpander	::expander-size		= 0
	GtkArrow	::arrow-scaling		= 0.1 # allowed: 0.1 ~ 1.0 (0.6 is an approximation to get 9 by 9 pixels arrow)
	GtkButton	::image-spacing		= 0
	GtkButton	::inner-border		= {0, 0, 0, 0}
	GtkButton	::child-displacement-x	= 0
	GtkButton	::child-displacement-y	= 0
	GtkButton	::default-border	= { 0, 0, 0, 0 }
	
	engine "pixmap"
	{
		image
		{
			function	= SHADOW
		}

		image
		{
			function	= BUTTON
		}

		image
		{
			function		= ARROW
			arrow_direction		= DOWN
		}
	}
}


style "caja-sidebar" = "treeview"
{

	GtkTreeView::odd_row_color		  = "#EEEEEE"
	GtkTreeView::even_row_color		  = "#EEEEEE"
	GtkTreeView::vertical_separator           = 2
	GtkTreeView::horizontal_separator         = 15
	GtkTreeView::indent-expanders             = 1 # 1 means TRUE
	GtkTreeView::expander-size                = 12
	GtkExpander::expander_spacing             = 16
	GtkButton::image_spacing                  = 4

	engine "murrine" {}
}

style "caja-side-scrollbar"
{
	#bg[ACTIVE]   = shade (0.8, @selected_bg_color)

	engine "murrine"
		{
		roundness		= 1
		highlight_shade		= 1.0
		lightborderstyle	= 1
		lightborder_shade	= 1.0
		contrast		= 0.0
		
	}
}

style "caja-handle"
{
	GtkPaned::handle-size         = 1
	
	engine "pixmap"
	{
		image 
		{
		    function	= HANDLE
		    recolorable	= TRUE
		    file		= "Handles/handle-caja.png"
		    stretch		= TRUE
		    border 		= { 0, 0, 0, 0 }
		}
	}
}


style "caja-view"
{
	xthickness		= 0
	ythickness		= 0

}

style "caja-statusbar"
{
	xthickness	= 4
	ythickness		= 4

	bg[NORMAL]	= @bg_color
	bg[PRELIGHT]    = mix (0.96, @bg_color, @focus_color)
	bg[SELECTED]	= @fg_color

	base[SELECTED]	= shade (0.8, @selected_bg_color)

	fg[NORMAL]	= mix (0.4, @base_color, @text_color)
	fg[PRELIGHT]	= mix (0.4, @base_color, @text_color)
	fg[SELECTED]	= mix (0.4, @base_color, @text_color)
	fg[ACTIVE]	= mix (0.4, @base_color, @text_color)
	fg[INSENSITIVE]	= mix (0.4, @base_color, @text_color)
}

style "caja-scale" 
{

#ythickness = 0

	GtkScale::slider-length       		  	= 16
	GtkScale::slider-width       		  	= 16
	GtkScale::trough-side-details 		  	= 0
	GtkScale::value-spacing				= 2
	GtkScale::trough-border				= 1
	GtkScale::trough-under-steppers			= TRUE

	bg[NORMAL]	= shade (0.4, @bg_color)
	bg[PRELIGHT]    = mix (0.96, @bg_color, @focus_color)
	bg[SELECTED]	= shade (0.4, @bg_color)
	bg[ACTIVE] 	= shade (0.8, @bg_color)

	base[SELECTED]	= @bg_color

	engine "murrine" {
		roundness = 2
		sliderstyle         = 0
		contrast = 0.0
		border_colors = { "#BFBAAF", "#BFBAAF" }
	}
}

style "caja-mode-button"
{
	bg[NORMAL]      = shade (1.13, @bg_color)
	bg[PRELIGHT]    = mix (0.96, @bg_color, @focus_color)
	bg[ACTIVE]      = shade (0.8, @bg_color)
	bg[INSENSITIVE] = shade (1.055, @bg_color)
	bg[SELECTED]    = shade (0.95, @selected_bg_color)


engine "murrine" {

	roundness = 2
	contrast 	    = 1.0
		highlight_shade	    = 1.02
		lightborder_shade   = 1.7
		gradient_shades     = {1.3,1.25,1.01,0.92} 
		border_shades 	    = {1.0,0.8}
		shadow_shades	    = {0.0,0.0}
		reliefstyle 	    = 4
	}
}

style "caja-breadcrumbs"
{
	xthickness = 3
	ythickness = 0
	
	GtkButton::child-displacement-y		= 0
	GtkButton::inner-border				= { 0, 8, 0, 0}

	engine "pixmap"
	{	
		image
		{
			function        	= BOX
			shadow				= OUT
			recolorable     	= TRUE
			state				= PRELIGHT
			file				= "caja/breadcrumb_prelight.png"
			border				= { 3, 13, 3, 3 }
			stretch         	= TRUE
		}		

		image
		{
			function        	= BOX
			recolorable     	= TRUE
			shadow				= IN
			state				= PRELIGHT
			file				= "caja/breadcrumb_active.png"
			border				= { 3, 13, 3, 3 }
			stretch         	= TRUE
		}
	  
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state				= NORMAL
			file				= "caja/breadcrumb_normal.png"
			border				= { 3, 13, 3, 3 }
			stretch         	= TRUE
		}
		
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state				= PRELIGHT
			file				= "caja/breadcrumb_active.png"
			border				= { 3, 13, 3, 3 }
			stretch         	= TRUE
		}
	

		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state				= ACTIVE
			file				= "caja/breadcrumb_active.png"
			border				= { 3, 13, 3, 3 }
			stretch         	= TRUE
		}  

		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state				= INSENSITIVE
			file				= "caja/breadcrumb_normal.png"
			border				= { 3, 13, 3, 3 }
			stretch         	= TRUE
		} 

		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state				= SELECTED
			file				= "caja/breadcrumb_active.png"
			border				= { 3, 13, 3, 3 }
			stretch         	= TRUE
		}
	}
}




style "caja-left-slider"
{
	xthickness = 0
	ythickness = 0
	
	engine "pixmap"
	{
		image {
			function 		= BOX
			file			= "caja/left_slider_normal.png"
			border			= { 3, 3, 3, 3 }
			stretch			= TRUE
		}
	}

}





style "caja-right-slider"
{	
	xthickness = 0
	ythickness = 0
	
	engine "pixmap"
	{
		image {
			function 		= BOX
			file			= "caja/right_slider_normal.png"
			border			= { 3, 3, 3, 3 }
			stretch			= TRUE
		}
	}
}

widget "*Caja*Splitter"                     style "caja-handle"
widget_class "*CajaSidePane*GtkVBox.*"		style:highest "caja-sidebar-title"
widget_class "*CajaSidePane.*"		style "caja-sidebar"
widget_class "*CajaSidePane*GtkTreeView"		style:highest "caja-sidebar"
widget_class "*Caja*Places*Sidebar*"	style "caja-sidebar"
widget_class "*Caja*Side*.GtkWidget"	style "caja-sidebar"
widget_class "*Caja*Side*Title*"		style "caja-sidebar-title"
widget_class "*Caja*Statusbar*"		style "caja-statusbar"
widget_class "*Caja*Scale*"			style "caja-scale"
widget_class "*Caja*Window*"		style "caja-window-base"
widget_class "*Caja*Notebook"		style "caja-notebook"
#widget_class "*Caja*Side*Scrollbar"    	style "caja-side-scrollbar"
widget_class "*Caja*View*"			style "caja-view"
widget_class "*Caja*Toolbar*"		style "toolbar"
widget_class "*Caja*Toolbar*Button"		style "button"
widget_class "*Caja*Menu*"			style:highest "menu-item"
widget_class "*Caja*MenuBar*"		style "menubar"
widget "*GtkModeButton*"			style "caja-mode-button"
widget "*.caja-extra-view-widget" 		style : highest "caja-location"

widget_class "*CajaPathBar.*ToggleButton" style "caja-breadcrumbs" 
widget "Caja*left_slider*" style "caja-left-slider" 
widget "Caja*right_slider*" style "caja-right-slider" 
